/**
 * @var {color}
 * The default body background-color of Panels
 */
$panel-body-background-color: #333333 !default;
/**
 * @var {color}
 * The default color of text inside a Panel's body
 */
$panel-body-color: #C7C7C7 !default;
/**
 * @var {string}
 * The font-family of Panel Headers
 */
$panel-header-font-family: $font-family !default;
/**
 * @var {number}
 * The font-size of Panel Headers
 */
$panel-header-font-size: 14px !default;
/**
 * @var {number}
 * The line-height of Panel Headers
 */
$panel-header-line-height: $panel-header-font-size * 1.2 !default;

$panel-header-padding-noborder : '0 10px' !default;
$panel-header-padding: '0' !default;
$panel-header-text-padding : 20px 10px 0px 20px;