$grid-row-cell-font-size: 13px !default;
$grid-row-cell-line-height: 17px !default;
$grid-cell-inner-padding: 5px 20px !default;
$grid-row-cell-color: #fff !default;
$grid-row-cell-background-color: #333 !default;
$grid-row-cell-alt-background-color: #333 !default;
$grid-row-cell-over-background-color: #333 !default;
$grid-row-cell-over-border-color: #333 !default;
$grid-row-cell-selected-background-color: #333 !default;
$grid-row-cell-selected-border-color: #333 !default;
$grid-row-cell-border-color: #333 !default;
$grid-font-weight: normal;
$grid-row-cell-font: $font-family-regular;
$grid-row-cell-over-background-color: #666;
$grid-row-cell-focus-background-color: #666;
$grid-row-cell-cursor: pointer;
$grid-row-disable: #808080;