/**
 * @var {color}
 * The base color for the `default` button UI
 */
$button-default-base-color: #656565 !default;

/**
 * @var {string/list}
 * The background-gradient for the `default` button UI.  Can be either the name of a
 * predefined gradient or a list of color stops. Used as the `$type` parameter for
 * {@link Global_CSS#background-gradient}.
 */
$button-default-background-gradient: null !default;

/**
 * @var {string/list}
 * The background-gradient for the `default` button UI when the cursor is over the button.
 * Can be either the name of a predefined gradient or a list of color stops. Used as the
 * `$type` parameter for {@link Global_CSS#background-gradient}.
 */
$button-default-background-gradient-over: null !default;

/**
 * @var {string/list}
 * The background-gradient for the `default` button UI when the button is focused.  Can be
 * either the name of a predefined gradient or a list of color stops. Used as the `$type`
 * parameter for {@link Global_CSS#background-gradient}.
 */
$button-default-background-gradient-focus: $button-default-background-gradient-over !default;

/**
 * @var {string/list}
 * The background-gradient for the `default` button UI when the button is pressed.  Can be
 * either the name of a predefined gradient or a list of color stops. Used as the `$type`
 * parameter for {@link Global_CSS#background-gradient}.
 */
$button-default-background-gradient-pressed: null !default;

/**
 * @var {string/list}
 * The background-gradient for the `default` button UI when the button is disabled.  Can be
 * either the name of a predefined gradient or a list of color stops. Used as the `$type`
 * parameter for {@link Global_CSS#background-gradient}.
 */
$button-default-background-gradient-disabled: null !default;

/**
 * @var {number}
 * The default border-radius for a small {@link #scale} button
 */
$button-small-border-radius: 0 !default;

/**
 * @var {number}
 * The default border-width for a small {@link #scale} button
 */
$button-small-border-width: 0 !default;

/**
 * @var {number}
 * The default padding for a small {@link #scale} button
 */
$button-small-padding: 15px !default;

/**
 * @var {color}
 * The base color for the `primary` button UI
 */
$button-primary-base-color: #00acdb;

/**
 * @var {color}
 * The base color for the `primary` button UI when is hovered
 */
$button-primary-base-color-hover: #00c8ff;

/**
 * @var {color}
 * The base color for the `primary` button UI when is clicked
 */
$button-primary-base-color-click: #0081a4;

/**
 * @var {color}
 * The base color for the `secondary` button UI
 */
$button-secondary-base-color: #666666;

/**
 * @var {color}
 * The base color for the `secondary` button UI
 */
$button-secondary-base-color-hover: #888888;

/**
 * @var {color}
 * The base color for the `secondary` button UI
 */
$button-secondary-base-color-click: #555555;

/**
 * @var {number}
 * The default padding for a button in the search ticket page
 */
$button-ticket-search-button-padding: 11px;

