.#{$app-prefix}issuetime-from-prefix .#{$prefix}form-display-field,
.#{$app-prefix}issuetime-to-prefix .#{$prefix}form-display-field,
.#{$prefix}form-item-label {
  text-transform: uppercase;
  font-size: 11px;
  margin: 0;
  color: #999999;
}
.#{$prefix}form-item-label {
  padding: 0 20px 0 0;
}
