$grid-header-background-color: $base-color !default;
$grid-header-background-gradient: null !default;
$grid-header-border-color: #575656 !default;
$grid-header-border-top: '40' !default;

$grid-header-border-width : 10px;
$grid-header-border-style : solid;
$grid-header-border-color : #515151;

$grid-header-over-background-color: mix(#fff, $base-light-color, 80%) !default;
$grid-header-over-background-gradient: null !default;
$grid-header-padding: 10px 20px !default;
$grid-header-margin: 4px 0px !default;

$grid-header-sort-icon-spacing: 8px !default;
$grid-header-trigger-spacing: 4px !default;
$grid-header-trigger-width: 18px !default;
$grid-header-trigger-background-position: center center !default;
$grid-header-open-background-color: $grid-header-over-background-color !default;
$grid-header-trigger-background-color-open: mix($base-light-color, $neutral-light-color, 30%);
