$datepicker-background-color: $base-color !default;
$datepicker-item-hover-background-color: mix(#fff, $base-light-color, 35%) !default;
$datepicker-item-selected-background-color: mix(#fff, $base-light-color, 40%) !default;