.#{$prefix}message-box {
  .#{$prefix}btn.#{$app-prefix}secondary-btn,
  .#{$prefix}window-header-default-top,
  .#{$prefix}form-display-field {
    color: #333;
  }
}

.#{$prefix}form-display-field {
  margin: 0;
}

.#{$prefix}message-box .#{$prefix}toolbar-footer {
  background-color: transparent;
  .#{$prefix}btn.#{$app-prefix}secondary-btn {
    color: #333;
    .#{$prefix}btn-inner {
      color: #333;
    }
  }
}

.#{$prefix}message-box, .#{$prefix}message-box .#{$prefix}window-body {
  background-color: #3e3e3e;
}

.#{$prefix}message-box {
  .#{$prefix}header-body, .#{$prefix}container {
    background-color: #3e3e3e;
    color: #FFFFFF !important;
  }
}

.#{$prefix}message-box {
  .#{$prefix}window-header-text-container-default, .#{$prefix}container .#{$prefix}form-display-field,
  .#{$prefix}message-box-text {
    color: #FFFFFF !important;
  }
}

.#{$prefix}message-box {
  .#{$prefix}btn.tt-secondary-btn, .#{$prefix}window-header-default-top, .#{$prefix}form-display-field {
    color: #333;
    background-color: #3e3e3e;
  }
}

.#{$prefix}box-item.#{$prefix}window-item.#{$prefix}container-default.#{$prefix}box-layout-ct {
  background-color: transparent;
}

.#{$prefix}window-body-default {
  color: white;
}


.#{$prefix}-box-target {
  color: #FFFFFF !important;
}

.#{$prefix}css-shadow {
  box-shadow: rgb(0, 0, 0) 0px 0px 6px !important;
}

.#{$prefix}window-header-default-top-mc, .#{$prefix}toolbar-footer  {
  background-color: #3e3e3e !important;
}