$relative-image-path-for-uis: 'images' !default;
$image-extension: 'png';
$prefix: 'x-' !default;
@import 'Component';
@import 'app';
@import 'page';
@import 'view/TicketForm';
@import 'view/TicketList';