/**
 * @var {string} $appPrefix
 * The application prefix
 */
$app-prefix: 'tt-' !default;
$app-font-path: '../../resources/fonts/GoogleOpenSans/' !default;
$app-background-color: #dadada;
$app-header-height: 75px !default;