/**
 * @var {string}
 * The base path relative to the CSS output directory to use for theme resources.  For example
 * if the theme's images live one directory up from the generated CSS output in a directory
 * named 'foo/images/', you would need to set this variable to '../foo/' in order for the image
 * paths in the CSS output to be generated correctly. By default this is the same as the
 * CSS output directory.
 */
$theme-resource-path: '' !default;
$base-color: #333 !default;
$color: #fafafa !default;
$font-size: 14px !default;
$font-family: 'Open Sans semibold' !default;
$font-family-regular: 'Open Sans' !default;
$base-highlight-color: mix(#fff, $base-color, 15%) !default;
$base-light-color: mix(#fff, $base-color, 25%) !default;
$base-dark-color: mix(#000, $base-color, 14%) !default;
$neutral-color: #525252 !default;
$neutral-light-color: mix(#fff, $neutral-color, 68%) !default;
$neutral-dark-color: mix(#000, $neutral-color, 22%) !default;
$error-color: #cf4c35 !default;
$confirmation-color: #73b51e !default;
$error-light-color: mix(#fff, $error-color, 20%) !default;
$confirmation-light-color: mix(#fff, $confirmation-color, 35%) !default;
$body-background-color: #525252 !default;
$include-default-uis: true !default;
$body-background-color : #333 !default;