.#{$prefix}fieldset.#{$app-prefix}fixed-fieldset,
.#{$prefix}fieldset.#{$app-prefix}custom-fieldset {
  border-bottom: 1px solid #666666 !important;
}
.#{$app-prefix}pdf-preview object {
  width: $pdf-preview-width;
  height: $pdf-preview-height;
}
.#{$app-prefix}comments-ctr {
  padding: 0 0 0 125px;
  .#{$app-prefix}comment-ctr {
    margin: 5px 0 15px 0;
    border-top: 1px dotted #666666;
    &:first-child {
      border: 0 none;
    }
    h4 {
      margin: 0;
    }
  }
}

.#{$app-prefix}comments-title {
  color: #FFFFFF;
  display: block !important; 
  padding: 0; 
  margin: 0;
}

.#{$app-prefix}wrapfield {
  word-break:break-all !important;
  -moz-hyphens: auto !important;
  -ms-hyphens: auto !important;
  hyphens: auto !important;
}
