.#{$prefix}form-attachment-field {
  color: #fff;
  .#{$prefix}actions {
    margin: 0 0 0 20px;
    a {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid #6b6b6b;
      box-shadow: 0 1px #adadad;
      &:visited,
      &:link,
      &:hover,
      &:visited {
        color: #fff;
      }
    }
    .#{$prefix}action-separator{
      display: inline-block;
      height: 1.5em;
      margin: 0 7px -0.5em;
      border-left: 1px solid #fff;
      box-shadow: 1px 0 #5d5d5d;
    }
  }
}
.#{$prefix}form-readonly .#{$prefix}form-attachment-field {
  .#{$prefix}action-separator,
  [role="remove"] {
    display: none;
  }
}