.#{$prefix}form-readonly .#{$prefix}form-text {

}

.#{$app-prefix}split-dropdown-input input{
  background-color: $form-field-split-background-color;
}

.#{$app-prefix}split-dropdown-input [role=button] {
  background-color: $form-field-split-background-color;
  margin-left: 1px;
}