.#{$prefix}form-trigger {
  cursor: pointer;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  .#{$prefix}item-disabled & {
    cursor: default;
  }
}

.#{$prefix}form-trigger-over {
  background-position: -$form-trigger-width 50%;
  @if $form-trigger-border-width != 0 and $form-trigger-border-color-over != $form-trigger-border-color {
    border-color: $form-trigger-border-color-over;
  }
}

.#{$prefix}form-trigger-wrap-focus .#{$prefix}form-trigger {
  background-position: -($form-trigger-width * 3) 50%;
  @if $form-trigger-border-width != 0 and $form-trigger-border-color-focus != $form-trigger-border-color {
    border-color: $form-trigger-border-color-focus;
  }
}

.#{$prefix}form-trigger-wrap-focus .#{$prefix}form-trigger-over {
  background-position: -($form-trigger-width * 4) 50%;
}

.#{$prefix}form-trigger-click,
.#{$prefix}form-trigger-wrap-focus .#{$prefix}form-trigger-click {
  background-position: -($form-trigger-width * 2) 50%;
  @if $form-trigger-border-width != 0 and $form-trigger-border-color-pressed != $form-trigger-border-color-over {
    border-color: $form-trigger-border-color-pressed;
  }
}