/**
 * @class Ext.form.field.Base
 */

/**
 * @var {number} $form-field-height
 * Height for form fields.
 */
$form-field-height: 37px !default;

/**
 * @var {number} $form-toolbar-field-height
 * Height for form fields in toolbar.
 */
$form-toolbar-field-height: $form-field-height !default;

/**
 * @var {number} $form-field-padding
 * Padding around form fields.
 */
$form-field-padding: 1px 3px 2px !default;

/**
 * @var {number} $form-field-font-size
 * Font size for form fields.
 */
$form-field-font-size: $font-size - 1 !default;

/**
 * @var {color} $form-field-border-color
 * Border color for form fields.
 */
$form-field-border-color: #666666 !default;

/**
 * @var {color} $form-field-focus-border-color
 * Border color for focused form fields.
 */
$form-field-focus-border-color: $base-color !default;

/**
 * @var {color} $form-field-invalid-border-color
 * Border color for invalid form fields.
 */
$form-field-invalid-border-color: #c30 !default;

/**
 * @var {color} $form-field-background-color
 * Background color for form fields.
 */
$form-field-background-color: #292929 !default;

/**
 * @var {color} $form-field-invalid-background-color
 * Background color for invalid form fields.
 */
$form-field-invalid-background-color: mix(#fff, $form-field-background-color, 15%) !default;


$form-field-split-background-color: #666666;