@import "compass/css3/font-face";
/*@include font-face('Open Sans', font-files($app-font-path + 'opensans-regular.eot',$app-font-path + 'opensans-regular.woff',$app-font-path + 'opensans-regular.ttf'), $app-font-path + 'opensans-regular.eot');
@include font-face('Open Sans semibold', font-files($app-font-path + 'opensans-semibold.eot',$app-font-path + 'opensans-semibold.woff',$app-font-path + 'opensans-semibold.ttf'), $app-font-path + 'opensans-semibold.eot');
@include font-face('Open Sans bold', font-files($app-font-path + 'opensans-bold.eot',$app-font-path + 'opensans-bold.woff',$app-font-path + 'opensans-bold.ttf'), $app-font-path + 'opensans-bold.eot');*/

@font-face {
  font-family: "Open Sans";
  src: url('../../resources/fonts/GoogleOpenSans/opensans-regular.eot');
  src: url('../../resources/fonts/GoogleOpenSans/opensans-regular.eot?#iefix') format('eot'), url('../../resources/fonts/GoogleOpenSans/opensans-regular.eot') format('embedded-opentype'), url('../../resources/fonts/GoogleOpenSans/opensans-regular.woff') format('woff'), url('../../resources/fonts/GoogleOpenSans/opensans-regular.ttf') format('truetype');
}

@font-face {
  font-family: "Open Sans semibold";
  src: url('../../resources/fonts/GoogleOpenSans/opensans-semibold.eot');
  src: url('../../resources/fonts/GoogleOpenSans/opensans-semibold.eot?#iefix') format('eot'), url('../../resources/fonts/GoogleOpenSans/opensans-semibold.eot') format('embedded-opentype'), url('../../resources/fonts/GoogleOpenSans/opensans-semibold.woff') format('woff'), url('../../resources/fonts/GoogleOpenSans/opensans-semibold.ttf') format('truetype');
}

@font-face {
  font-family: "Open Sans bold";
  src: url('../../resources/fonts/GoogleOpenSans/opensans-bold.eot');
  src: url('../../resources/fonts/GoogleOpenSans/opensans-bold.eot?#iefix') format('eot'), url('../../resources/fonts/GoogleOpenSans/opensans-bold.eot') format('embedded-opentype'), url('../../resources/fonts/GoogleOpenSans/opensans-bold.woff') format('woff'), url('../../resources/fonts/GoogleOpenSans/opensans-bold.ttf') format('truetype');
}

.#{$app-prefix}body {
  font-family: 'Open Sans';
}
.#{$app-prefix}app-logo-ctr .#{$prefix}panel-body-default {
  background: transparent theme-background-image('app/header/logo') left center no-repeat;
}
.#{$app-prefix}app-ctr {
  background-color: #{$app-background-color};
}
.#{$app-prefix}app-title-ctr h1 {
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: $app-header-height;
  margin: 0;
  color: #fff;
}
.#{$app-prefix}app-footer-ctr {
  background: theme-background-image('app/footer/logo') 20px center no-repeat;
}