

.#{$prefix}mask-msg.#{$prefix}layer.#{$prefix}mask-msg-default.#{$prefix}border-box {
  background-color: $loadmask-background-color;
}

.#{$prefix}mask-msg-text {
  color: $loadmask-color !important;
}

