a {
  &:link,
  &:hover,
  &:visited {
    color: #fff;
  }
}
.#{$app-prefix}page-header-ctr {
  background-color: #{$page-header-background-color};
}

.#{$app-prefix}page-footer-ctr {
  background-color: #{$page-footer-background-color};
}
.#{$app-prefix}app-breadrumb {
  font-size: 13px;
  line-height: $app-breadcrumb-height;
}
