@import "../panel/Panel";

$window-include-border-management-rules: false !default;

/**
 * @var {color}
 * The background-color of Window Headers
 */
$window-header-background-color: #fff !default;
/**
 * @var {color}
 * The text color of Window Headers
 */
$window-header-color: #333 !default;
/**
 * @var {number}
 * The border-width of Window Headers
 */
$window-header-border-width: 0px !default;
/**
 * @var {boolean} $ui-force-header-border
 * True to force the window header to have a border on the side facing the window body.
 * Overrides dock layout's border management border removal rules.
 */
$window-force-header-border: false !default;
/**
 * @var {number/list}
 * The padding of Window Headers
 */
$window-header-padding: 10px !default;
/**
 * @var {number}
 * The border-radius of Windows
 */
$window-border-radius: 0px !default;

/**
 * @var {number}
 * The border-width of Windows
 */
$window-border-width: 0px !default;

/**
 * @var {color}
 * The border-color of Windows
 */
$window-border-color: #fff !default;
/**
 * @var {color}
 * The background-color of Windows
 */
$window-background-color: #fff !default;

/**
 * @var {number}
 * The body border-width of Windows
 */
$window-body-border-width: 0px !default;

/**
 * @var {string}
 * The body border-style of Windows
 */
$window-body-border-style: solid !default;

/**
 * @var {color}
 * The body border-color of Windows
 */
$window-body-border-color: transparent !default;

/**
 * @var {color}
 * The body background-color of Windows
 */
$window-body-background-color: #fff !default;

/**
 * @var {color}
 * The body text color of Windows
 */
$window-body-color: #333 !default;