.#{$app-prefix}primary-btn {
  background-color: $button-primary-base-color !important;
}
.#{$app-prefix}primary-btn:hover {
  background-color: $button-primary-base-color-hover !important;
}
.#{$app-prefix}primary-btn:active {
  background-color: $button-primary-base-color-click !important;
}

.#{$app-prefix}secondary-btn {
  background-color: $button-secondary-base-color !important;
}
.#{$app-prefix}secondary-btn:hover {
  background-color: $button-secondary-base-color-hover !important;
}
.#{$app-prefix}secondary-btn:active {
  background-color: $button-secondary-base-color-click !important;
}

.#{$app-prefix}ticket-search-button {
  padding: $button-ticket-search-button-padding;
}

.#{$prefix}btn-default-small-mc {
  background-color: transparent;
}